<div class="calendar">
  <button class="btn btn-outline-primary" (click)="showModel(content)">Add Event</button>
  <hr>
  <full-calendar [options]="calendarOptions"></full-calendar> 
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="eventstartdate">Start Date</label>
        <div class="input-group">
          <input id="eventstartdate" class="form-control" placeholder="yyyy-mm-dd" name="dpeventstartdate" ngbDatepicker #dpstartdate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar" (click)="dpstartdate.toggle()" type="button"></button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="eventenddate">End Date</label>
        <div class="input-group">
          <input id="eventenddate" class="form-control" placeholder="yyyy-mm-dd" name="dpeventenddate" ngbDatepicker #dpenddate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar" (click)="dpenddate.toggle()" type="button"></button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Title</label>
        <div class="input-group">
          <input id="eventtitle" class="form-control" placeholder="type your title" name="dpeventtitle" ngbDatepicker #dp="ngbDatepicker">
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>