<button class="btn btn-outline-primary add mt-3" (click)="open()">Add Event</button>

<div class="mt-3 p-5">
  <app-calendar></app-calendar>
</div>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title text-uppercase" id="eventModalLabel">add a new event</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">

          <div class="mb-3">
            <label for="eventName" class="form-label">Event Name</label>
            <input id="eventName" class="form-control" type="text" placeholder="name of event" formControlName="eventName" [ngClass]="{'is-invalid': isSubmitted && formControls['eventName'].errors}">

            <span *ngIf="isSubmitted && formControls['eventName'].hasError('required')" class="text-danger">
              event name is required
            </span>

            <span *ngIf="isSubmitted && formControls['eventName'].hasError('minlength')" class="text-danger">
              event name must be at least 3 characters
            </span>
          </div>

          <div class="mb-3">
            <label for="startEventDate" class="form-label">Event Start Date</label>
            <input id="startEventDate" class="form-control" type="date" formControlName="eventStartDate" [ngClass]="{'is-invalid': isSubmitted && formControls['eventStartDate'].errors}">

            <span *ngIf="isSubmitted && formControls['eventStartDate'].hasError('required')" class="text-danger">
              The start date of the event is required
            </span>

          </div>

          <div class="mb-3">
            <label for="endEventDate" class="form-label">Event End Date</label>
            <input id="endEventDate" class="form-control" type="date" formControlName="eventEndDate" [ngClass]="{'is-invalid': isSubmitted && formControls['eventEndDate'].errors}">

            <span *ngIf="isSubmitted && formControls['eventEndDate'].hasError('required')" class="text-danger">
              The end date of the event is required
            </span>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>




